# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.log
*.recipe
*.idb
*.pdb
*.cache

# Precompiled Headers
*.gch
*.pch
*.ilk
*.exp
*.user

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.dll
*.txt
*.out
*.app
.vs/NetworkEngine/
*.ipch
*.db
*.db
*.ipch
/.vs/
/x64/
/Debug/
/01.Library/
/02.Binout/
/CodeGenerator/bin/
/CodeGenerator/obj/